<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sucl.smms.system.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.sucl.smms.system.model.Role" >
    <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="ROLE_CAPTION" property="roleCaption" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_ID, DESCRIPTION, ROLE_CAPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sucl.smms.system.model.Role" >
    insert into role (ROLE_ID, DESCRIPTION, ROLE_CAPTION
      )
    values (#{roleId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{roleCaption,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sucl.smms.system.model.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="roleCaption != null" >
        ROLE_CAPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="roleCaption != null" >
        #{roleCaption,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sucl.smms.system.model.Role" >
    update role
    <set >
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="roleCaption != null" >
        ROLE_CAPTION = #{roleCaption,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sucl.smms.system.model.Role" >
    update role
    set DESCRIPTION = #{description,jdbcType=VARCHAR},
      ROLE_CAPTION = #{roleCaption,jdbcType=VARCHAR}
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
</mapper>